.tactris-header {
    background-color: #8e44ad;
}

#tactris-content {
    background-color: #34495e;
    color: #ffffff;

    min-width: 800px;
    min-height: 600px;
}

.tactris-fast-transition {
    transition: all 0.1s ease 0s;
}

.tactris-slow-transition {
    transition: all 0.5s ease 0s;
}

.tactris-label {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: auto;
    padding: 5px;
    text-align: center;
}

.tactris-cell {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    display-model: box;
    background-color: #2c3e50;
}

.tactris-preview-cell {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    display-model: box;

    transition: background 0.5s ease 0s;
}

.tactris-cur-preview-cell-enabled {
    background-color: #ecf0f1;
}

.tactris-cur-preview-cell-disabled {
    background-color: #2c3e50;
}

.tactris-next-preview-cell-enabled {
    background-color: #506477;
}

.tactris-next-preview-cell-disabled {
    background-color: #2c3e50;
}

.tactris-cell-free {
    background-color: #2c3e50;
}

.tactris-cell-free-hover {
    background-color: #ecf0f1;
    box-shadow: 0 0 16px #ecf0f1;
}

.tactris-cell-selected {
    background-color: #9b59b6;
    box-shadow: 0 0 16px #9b59b6;
}

.tactris-cell-occupied {
    background-color: #8e44ad;
}

.tactris-shape-preview {
    position: relative;
    border: solid 2px #8e44ad;
    padding: 0;
    display-model: box;

    margin: auto;
    height: 120px;
    width: 134px;
}

#tactris-gamefield-wrapper {
    background-color: #34495e;
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 740px;
    margin: -300px auto auto -370px;
}


#tactris-score-panel {
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 24pt;
    width: 537px;
    padding-top: 20px;
    height: 50px;
}
#tactris-score-panel:before {
    content: "Score: ";
}

#tactris-right-panel {
    padding-top: 10px;
    position: relative;
    width: 180px;
    height: 520px;
    float: right;
}

#tactris-gamefield {
    position: relative;
    border: solid 5px #8e44ad;
    border-radius: 5px;
    padding: 0;
    display-model: box;
    height: 500px;
    width: 540px;
    float: left;
}
