.about-header {
    background-color: #38a4ea;
}

#about-content {
    background-color: #ffffff;

    min-width: 800px;
    min-height: 600px;
}

#about-wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#about-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#about-description {
    display: inline-block;
    vertical-align: middle;
    width: 720px;
    height: auto;
    text-align: left;
}

.about-h1 {
    font-size: 24pt;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-text {
    font-size: 14pt;
    padding: 5px 5px 5px 10px;
    margin-bottom: 10px;
    border-left: solid 2px black;
}