[disabled="disabled"] {color: #ffffff;!important;}
input[disabled] {color: #ffffff;!important;}
textarea[disabled] {color: #ffffff;!important;}


/* Animation */
.animated {
    transition: border-color 0.16s ease-out,
    background-color 0.16s ease-out,
    color 0.16s ease-out;
}
.animated:after {
    transition: background-color 0.16s ease-out,
    background 0.16s ease-out,
    color 0.16s ease-out;
}
.animated:before {
    transition: background-color 0.16s ease-out,
    background 0.16s ease-out,
    color 0.16s ease-out;
}

.header {
    background-color: #16a085;
}

.content {
    color: #7f8c8d;
    display: block;
    font-size: 14pt;
}

.left_area {
    position: absolute;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    left: 0;
    width: 60%;
    height: 100%;
}

.right_area {
    position: absolute;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    right: 0;
    width: 40%;
    height: 100%;
}

.text_editor {
    height: 50%;
    display: inline;
}

.input {
    display: inline;
}

.output {
}

#editor {
    max-width: 100%;
}

.input_form {
    width: auto;
    padding: 0;
    margin: 0;
    background-color: #1abc9c;
}

.label_up {
    display: block;
    float: left;
    background-color: #16a085;
    height: 20px;
    width: auto;
}

.label_up:after {
    position: absolute;
    float: right;
    content: "";
    border-bottom: 20px solid #16a085;
    border-right: 20px solid transparent;
}

.label_down {
    display: block;
    float: left;
    background-color: #16a085;
    height: 20px;
    width: auto;
}

.label_down:after {
    position: absolute;
    float: right;
    content: "";
    border-top: 20px solid #16a085;
    border-right: 20px solid transparent;
}

.label_disabled {
    background-color: #7f8c8d;
}

.label_disabled:after {
    border-top-color: #7f8c8d;
    border-bottom-color: #7f8c8d;
}

label {
    position: absolute;
    padding-left: 5px;
    color: #ffffff;
    font-size: 11pt;
    text-align: center;
    height: 0;
    width: auto;
}

textarea {
    margin: 20px 0 0 0;
    background-color: #1abc9c;
    outline: none;
    color: #ffffff;
    font-size: 12pt;
    border: 4px #16a085 solid;
    max-width: 100%;
    -webkit-text-fill-color: #ffffff;
    display: block;
}

textarea:disabled {
    color: #ffffff;
    background-color: #95a5a6;
    border: 4px #7f8c8d solid;
    -webkit-text-fill-color: #ffffff;
}

button {
    background-color: transparent;
    color: #16a085;
    outline: none;
    font-size: 12pt;
    border: 3px #16a085 solid;
    border-radius: 3px;
}

button:disabled {
    color: #7f8c8d;
    border-color: #7f8c8d;
}

button:hover:enabled {
    background-color: #1abc9c;
    color: #ffffff;
}

select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px'\
     height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #1abc9c;
    background-repeat:no-repeat;
    background-position: right 7px top 7px;
    background-size: 16px 16px;
    color:#ffffff;
    padding: 7px 25px 7px 7px;
    width: auto;
    font-size: 12pt;

    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 3px #16a085 solid;
    outline: 0;
}

table {
    color: #ffffff;
    background-color: #1abc9c;
    border: 3px #16a085 solid;
    padding: 5px;
    border-collapse: collapse;

    transition: border-color 0.16s ease-out,
    background-color 0.16s ease-out,
    color 0.16s ease-out;
}

.table_disabled {
    background-color: #95a5a6;
    border: 3px #7f8c8d solid;
}
.trtd_disabled {
    background-color: #95a5a6;
    border: 2px #7f8c8d solid;
}

tr {
    border: 2px #16a085 solid;
    padding: 5px;

    transition: border-color 0.16s ease-out,
    background-color 0.16s ease-out,
    color 0.16s ease-out;
}

td {
    border: 2px #16a085 solid;
    font-size: 12pt;
    text-align: center;
    min-width: 20px;
    padding: 5px;

    transition: border-color 0.16s ease-out,
    background-color 0.16s ease-out,
    color 0.16s ease-out;
}

#move_pos_left, #move_pos_right {
    cursor: pointer;
    transition: none;
}

#move_pos_left:active {
    background-color: #ecf0f1;
    color: #7f8c8d;
}

#move_pos_right:active {
    background-color: #ecf0f1;
    color: #7f8c8d;
}

#language_selector {
    padding-left: 10px;
}

#read_data {
    margin-bottom: -2px;
    padding-bottom: 0;
    color: #7f8c8d;
}

#buffer_data {
    margin-top: -2px;
    padding-top: 0;
}

#run_button {
    width: 100px;
    height: 50px;
}

#pause_button {
    width: 100px;
    height: 50px;
}

#stop_button {
    width: 100px;
    height: 50px;
}

.output {
    padding-top: 30px;
    height: 30%;
}